body {
  background-color: rgb(2, 0, 27);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.form-container {
  width: 500px;
  border: white 1px solid;
  padding: 50px 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form + p {
  align-items: center;
}

input,
button {
  border: unset;
  border-radius: 4px;
  padding: 15px 30px;
}

button {
  background-color: grey;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error-login {
  color: red;
}

.hidden {
  display: none;
}

.home-container {
  align-items: center;
}

.home-buttons-container {
  display: flex;
}

.home-buttons-container > p {
  margin: 0 20px;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
  top: auto;
} */
